@using BlazorBootstrap
@* Delete Assignee Connection Modal *@

<Modal @ref="deleteAssigneeModal" Title="Delete Assignee">
    <BodyTemplate>
        <p>Are you sure you want to remove <b> @AssigneeName </b> from your group?</p>
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="OnHideDeleteAssigneeModal">Cancel</Button>
        <Button Color="ButtonColor.Dark" @onclick="OnDeleteAssignee">Delete</Button>
    </FooterTemplate>
</Modal>


@code {

    [Parameter] public string AssigneeName { get; set; } = string.Empty;
    [Parameter] public EventCallback DeleteAssignee { get; set; }

    public Modal deleteAssigneeModal = default!;

    public async Task ShowAsync()
    {
        await deleteAssigneeModal.ShowAsync();
    }


    public void OnHideDeleteAssigneeModal()
    {
        deleteAssigneeModal.HideAsync();
    }

    private void OnDeleteAssignee()
    {
        deleteAssigneeModal.HideAsync();
        DeleteAssignee.InvokeAsync();
    }

    
}
