@using BlazorBootstrap
@using TaskManager.Application.TodoItems.DTOs.Responses
@using TaskManager.Presentation.Components.Pages
@using TaskManager.Presentation.Services
@inject HttpClient Http
@inject ProjectStateService ProjectStateService


<Modal @ref="deleteModal" Title=Delete>
    <BodyTemplate>
        <DeleteTask></DeleteTask>
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="OnHideDeleteModalClick">Cancel</Button>
        <Button Color="ButtonColor.Dark" @onclick="OnDeleteTaskClick">Delete</Button>
    </FooterTemplate>
</Modal>


@code {
    [Inject] protected ToastService ToastService { get; set; } = default!;

    [Parameter]
    public EventCallback OnTodoItemDeleted { get; set; }

    [Parameter]
    public Guid TodoItemId { get; set; }

    [Parameter] public Guid ProjectId { get; set; }

    private Modal deleteModal = default!;
    private Guid deleteModalGuid = Guid.Empty;
    //private bool confirmedDelete = false;
    private string todoName = string.Empty;



    //Delete Modal Logic
    public async Task OnShowDeleteModalClick(Guid todoItemId, string taskName)
    {
        TodoItemId = todoItemId; 
        //deleteModalGuid = todoItemId;
        todoName = taskName;
        await deleteModal.ShowAsync();
    }

    private async Task OnHideDeleteModalClick()
    {
        await deleteModal.HideAsync();
    }

    private async Task OnDeleteTaskClick()
    {
        var response = await Http.DeleteAsync($"api/todoitems/{TodoItemId}");

        if (response is null)
            ToastService.Notify(new(ToastType.Danger, "Unexpected Error Deleting Task"));

        else if(!response.IsSuccessStatusCode)
            ToastService.Notify(new(ToastType.Danger, await response.Content.ReadAsStringAsync()));

        else if(response.IsSuccessStatusCode)
        {
            ProjectStateService.RemoveTodoItemFromCache(ProjectId, TodoItemId);
        }

        await deleteModal.HideAsync();

        await OnTodoItemDeleted.InvokeAsync();


    }
}
