@using BlazorBootstrap
@using TaskManager.Application.TodoItems.DTOs
@using TaskManager.Presentation.Components.Pages


@* Details Modal *@

<Modal @ref="detailsModal" Title="Task Details" Size="ModalSize.Large">
    <BodyTemplate>
        <TodoItemDetailedView TodoItemId="@TodoItemId"></TodoItemDetailedView>
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="OnHideDetailsModalClick">Close</Button>
        @if (isOwner)
        {
            <Button Color="ButtonColor.Dark" @onclick="OnEditFromDetailsModalClick">Edit</Button>
        }
    </FooterTemplate>
</Modal>

@code {

    [Parameter] public bool isOwner { get; set; }
    [Parameter] public Guid TodoItemId { get; set; }
    [Parameter] public required string TodoItemTitle { get; set; }
    [Parameter] public EventCallback<TodoIdTitleDto> OnEditClick { get; set; }

    private Modal detailsModal = default!;

    public async Task OnShowDetailsModalClick(Guid todoItemId, string taskName)
    {
        TodoItemTitle = taskName;
        TodoItemId = todoItemId;
        await detailsModal.ShowAsync();
    }

    //    public async Task OnShowDetailsModalClick(TodoItemEntry todoItem)
    // {
    //     TodoItemTitle = taskName;
    //     TodoItemId = todoItemId;
    //     await detailsModal.ShowAsync();
    // }




    private async Task OnHideDetailsModalClick()
    {
        await detailsModal.HideAsync();
    }
    private async Task OnEditFromDetailsModalClick()
    {
        var dto = new TodoIdTitleDto
        {
            Id = TodoItemId,
            Title = TodoItemTitle
        };

        await detailsModal.HideAsync();
        await OnEditClick.InvokeAsync(dto);
    }
}
